body{
    margin: 0;
    padding: 0;
    height: 110vh;
    display: flex;
    align-items: end !important;
}

:root{
    --width-map-footr: 450px;
    --height-map-footr: 400px;

    --map-loction:#f60101;
    --footer-box:#247bb0;
    --clr-onderline-footer:#ff8c00;
    --clr-text-footer:#c7c7c7;
    --clr-text-active-footer:#252525;
}

@font-face {
    font-family: myFont;
    src: url(../Vazir.ttf) format('woff');
}
.box_map{
    position: relative;
    width: var(--width-map-footr);
}
.box_map iframe{
    width: var(--width-map-footr);
    height: var(--height-map-footr);
}
.icon__map{
    position: absolute;
    top: 46%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: var(--map-loction);
    font-size: 40px;
}
.custom-shape-divider-top-1708069838 {
    /* background: #000; */
    position: absolute;
    /* bottom: 0; */
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    height: auto;
}

.custom-shape-divider-top-1708069838 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 100px;
    animation: wave 20s cubic-bezier(0.64, 0.17, 0.43, 0.96) infinite ;
}
@keyframes wave {
    50%  {
        width: calc(200% + 1.3px);
    }
}
.custom-shape-divider-top-1708069838 .shape-fill {
    fill: #FFFFFF;
}
footer{

    background-color: var(--footer-box);
}
footer .conteiner{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.box_footr{
    width: 80%;
    display: flex;
    justify-content: space-between;
    margin-top: 20px ;
    margin-bottom: 20px;
}
.box_footr>div{
    margin: 10px 0;
}
footer p,address, pre{
    display: inline;
    margin: 0;
    padding: 0;
    color: var(--clr-text-footer);
}
.box_text{

    width: 52%;
    display: flex;
    /* justify-content: center; */
    /* align-items: center; */
}
.box_text ul{
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100% !important;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.box_text ul>li{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    margin: 10px 0;
    font-size: 18px;
}
.box_text p, address{
    font-family: myFont !important;
    font-weight: bold;
    font-style: normal;
}
.box_text p{
    align-items: center;
    width: 114px;
    color: var(--clr-text-active-footer) ;
    position: relative;
    display: flex;
    justify-content: space-between;
    padding: 6px 8px;
}
.box_text p::after{
    content: "";
    position: absolute;
    bottom: -8px !important;
    left: 0 !important;
    right: 0px;
    height: 4px;
    background-color:var(--clr-onderline-footer);
    border-radius: 4px;
}
.box_text p i{
    display: flex;
    align-items: center;
    /* color:  var(--map-loction); */
}
@media (770px <= width <=1150px) {
    .box_footr{
        flex-direction: column;
        /* margin: 30px 0; */
        margin: 0;
        margin-bottom: 10px;
        align-items: center;
        
    }

    .box_text{
        width: 100%;
    }
}
@media (0px <= width <=770px) {
    .box_footr{
        width: 90% !important;
        flex-direction: column;
        /* margin: 30px 0; */
        margin: 0;
        margin-bottom: 10px;
        align-items: center;
    }
    .box_text{
        width: 100%;
    }
}