body{

    margin: 0;
    padding: 0;
}

.slider_box{
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    height: 100%;
    background-color: rgb(0, 153, 192);
    height: 100vh;
}

.splide{
    width: 100% !important;
}
.splide__slide{
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    height: auto;
}

.splide__slide img{
    
    object-fit: cover;
    /* width box */
    width: 380px;
    /* _ */
    /* height box  */
    height: 300px !important;
    /* _ */
    height: 100%;
    border-radius: 10px;
}



@media (940px <= width <= 1160px) {
    .splide__slide img{
        width: 300px;
        height: 220px !important;
    }
}
@media (610px <= width <= 940px) {
    .splide__slide img{
        width: 200px;
        height: 120px !important;
    }
}